* {
  box-sizing: border-box;
  /* border: 2px solid black; */
  --bg-color1: #f8e8db;
  --bg-color2: #ffffff;
}

body {
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}



@media only screen and (min-width: 768px) {
  #root {
    display: flex;
    justify-content: space-between;
  }

}

@keyframes img-border {
  0% {
    border-color: black;
  }

  50% {
    border-color: var(--bg-color1);
  }
}
